
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <h5 class="text-white">Introducción a Node.JS mediante el desarrollo de un proyecto ágil.</h5>

    <div class="collapse navbar-collapse justify-content-end" id="navFooter">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar contenido" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  </body>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</html>
