<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>

      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/verCursos">Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/crearUsuario">Crear Usuario</a>
          </li>
        </ul>
        {{#unless session }}
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="btnLogin">Iniciar Sesión</button>
        {{/unless}}
      </div>
    </nav>

    {{#unless session }}
      {{>login }}
    {{/unless}}
