{{>header }}
  <div class="container">
    <form action="/remover{{ valores.tipo }}" method="post">
      <div class="row justify-content-center modal-dialog-centered">
        <input type="hidden" name="id" value="{{ valores.id }}">
        <input type="hidden" name="tipo" value="{{ valores.tipo }}">
        <input type="hidden" name="idCurso" value="{{ valores.idCurso }}">

        <div class="card border-danger mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-danger">Eliminar</div>
          <div class="card-body text-danger">
            <h5 class="card-title">Eliminar elemento</h5>
            <p class="card-text">Esta Seguro que desea elminar el registro?</p>
          </div>
          <div class="card-footer bg-transparent border-danger text-right">
              <button type="submit" class="btn btn-outline-danger" ><i class="fas fa-trash-alt"></i> Remover</button>
              <a class="btn btn-outline-dark" href="/">Cancelar</a>
          </div>
        </div>
      </div>

    </form>
  </div>
{{>footer}}
