{{>header }}
{{#unless session }}
  <div class="container">
      <p>
        <h1>Bienvenido: {{nickname}}</h1>
      </p>
  </div>{{/unless}}
{{#if session }}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:img/png;base64,{{avatar}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bienvenido</h5>
          <p class="card-text">{{nickname}}.</p>
          <p class="card-text"><small class="text-muted">{{idUsuario}}</small></p>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{>footer}}
