{{>header }}
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        Visualizar Estudiantes Inscritos
      </div>

      <div class="card text-right">
        <div class="card-body">
          <a href="/inscribirCurso?id={{ idCurso }}" class="btn btn-outline-success">Nuevo</a>
            <a href="/verCursos" class="btn btn-outline-dark">Regresar</a>
        </div>
      </div>
      {{{ ListarEstudiantes listaEstudiantes idCurso }}}
    </div>
  </div>
{{>footer}}
