{{>header }}
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        Visualizar Cursos
      </div>

      <div class="card text-right">
        <div class="card-body">
          <a href="/crearCurso" class="btn btn-outline-success">Nuevo</a>
        </div>
      </div>

      {{{ ListarCursos cursos}}}
    </div>
  </div>
{{>footer}}
